{% extends '::layout.html.twig' %}


{% block body %}
    <h1>{{ 'cm.project'|trans }}</h1>
    <form action="{{ project ? path('app_project_edit', {id: project.id}) : path('app_project_add') }}" method="POST">
        {{ form_widget(form) }}
        <button class="waves-effect waves-light btn right">{{ 'cm.submit'|trans }}</button>
    </form>
{% endblock %}